body{
    background:#e8e6c7;
    font-family: Arial;
}
table{
    width:500px;
    margin:40px auto;
    text-align:center;
    border-collapse:collapse;
}
h2{
    text-align:center;
    letter-spacing:4px;
    font-weight:normal;
}
th{
    padding:8px;
}

td{
    padding:8px;
    border-left:2px solid black;
}
