body{
    background:#e8e6c7;
    font-family: Arial;
}

table{
    width:500px;
    margin:40px auto;
    text-align:center;
    border-collapse:collapse;
}
h2{
   margin-left: 870px;
    letter-spacing:4px;
    font-weight:normal;
}
th{
   border: 1px solid black; 
  padding: 8px; 
  text-align: left;
    
}
 
td{
border: 1px solid black; 
padding: 8px; 
text-align: left; 
      
}
