body{
    margin-left: 500px;
    background:#e8e6c7;
    font-family: Arial;
    width: 30%;
}
table{
    width:500px;
    margin:40px auto;
    text-align:center;
    border-collapse:collapse;
}
h2{
    text-align:center;
    letter-spacing:4px;
    font-weight:normal;
    font-style: italic;
    border-top: 2px solid black;
}
th, td{
    padding:8px;
}
tr {
    border-bottom:2px solid black;
}